@import '/styles/theme/breakpoints';

.footer {
  color: #fff;
}

.topWrapper {
  background-color: #036;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint(xl) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 83px 0 45px;
    height: 164px;
  }
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.topInnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleWrapper {
  margin-top: 32px;
  text-align: center;

  @include breakpoint(xl) {
    margin-top: 0;
    text-align: start;
  }
}

.iconsWrapper {
  display: flex;
  width: 149px;
  justify-content: space-between;
}

.left {
  flex-direction: column;
  align-items: center;
  display: none;
  @include breakpoint(xl) {
    display: flex;
    margin-right: 48px;
  }
}

.iconsWrapper {
  display: flex;
}

.mobileIconsWrapper {
  width: 149px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 30px;

  @include breakpoint(xl) {
    display: none;
  }
}

.infoWrapper {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.5px;
  &info {
    display: flex;
    justify-content: center;
    @include breakpoint(xl) {
      justify-content: inherit;
    }
  }
}

.right {
  padding: 20px 0 0 0;
  color: white;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  position: relative;
  margin-top: 20px;
  @include breakpoint(xl) {
    margin: 0;
    padding: 0 0 0 20px;
    border-left: 1px solid white;
    max-width: inherit;
  }

  &::before {
    content: '';
    background: white;
    position: absolute;
    max-width: 254px;
    height: 1px;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    @include breakpoint(xl) {
      display: none;
    }
  }
}

.bottomWrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(xl) {
    padding: 20px 0;
  }
  .youtubeTos {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    padding: 8px 21px 0 21px;
    margin: 0 0 12px;
    a {
      color: #036;
    }
  }
  .copyright {
    color: #036;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(xl) {
      color: #036;
      flex-direction: row;
      span + span {
        margin: 0 0 0 5px;
      }
    }
  }
}
