@import '/styles/theme/breakpoints';

.list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 16px;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 16px;
    margin-top: 20px;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    gap: 20px;
  }
}

.title {
  margin-top: 48px;
  @include media-breakpoint-up(md) {
    margin-top: 80px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 36px;
  }
}
