.heading-bordered-wrapper {
  border-image: linear-gradient(
      180deg,
      #153047 35%,
      transparent 0,
      transparent 65%,
      #153047 0
    )
    5;
  margin-bottom: 20px;
}

.compass-fit-heading {
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  // text-align: center;
  color: #153047;
}
