@import '/styles/theme/breakpoints';
@import '/styles/theme/size-hide';

.main {
  margin: 0 auto;
  min-height: calc(100dvh - 50px); // header height
  padding: 86px 0 48px;
  @include media-breakpoint-up(md) {
    min-height: calc(100dvh - 152px); // header height
    max-width: 688px;
    padding: 28px 0 50px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1120px;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1200px;
  }
}

.wrapper {
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.left {
  padding: 0 16px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  @include media-breakpoint-up(xl) {
    width: calc(100% - 384px - 64px);
    margin-bottom: 60px;
  }
}

.aside {
  padding: 0 16px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 0;
    margin-left: 64px;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    padding: 0 20px;
    flex: 1;
  }
}

.desktopOnly {
  @extend .desktop-hide;
  @extend .tablet-hide;
}

.mobileOnly {
  padding: 0 16px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  @extend .desktop-hide;
}
