@import '/styles/theme/breakpoints';

.category {
  margin: 0 auto;
  min-height: calc(100vh - 50px); // header height
  padding: 86px 16px 48px;
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 152px); // header height
    max-width: 688px;
    padding: 28px 0 50px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1120px;
    display: flex;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1200px;
  }
}

.main {
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    margin-left: 0;
    width: calc(100% - 384px - 40px);
  }
  @include media-breakpoint-up(xxl) {
    width: calc(100% - 384px - 48px);
  }
}
