@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.mobFlashNewsWrapper {
  margin: 12px 0;
  padding: 0 8px;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
