@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

.mobFlashNewsWrapper {
  margin: 12px 0;
  padding: 0 8px;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.gptAdContainerPc {
  display: none;
  @include media-breakpoint-up(xl) {
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 28px 0;

    background-color: #f4f5f6;
  }

  p {
    color: #d2d2d2;
    font-weight: 500;
    font-size: 16px;
  }
}

.gptAdContainerMb {
  min-height: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 12px 0;

  background-color: #f4f5f6;

  p {
    color: #d2d2d2;
    font-weight: 500;
    font-size: 16px;
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
