@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;

  @include breakpoint(md) {
    padding-top: 0;
    padding-bottom: 48px;
  }

  @include breakpoint(xl) {
    padding-bottom: 80px;
  }
}
