@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(md) {
    padding-top: 0;
  }
}
