@import '/styles/theme/breakpoints';

.tag {
  min-height: calc(100vh - 50px);
  padding: 86px 16px 48px;
  @include breakpoint(md) {
    min-height: calc(100vh - 152px);
    padding: 28px 0 50px;
  }

  &Wrapper {
    margin: 0 auto;
    padding: 0 20px;
    @include breakpoint(md) {
      max-width: 728px;
    }
    @include breakpoint(xl) {
      max-width: 1240px;
    }
  }

  &Name {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #014db8;
    margin: 0 0 20px;
    @include breakpoint(md) {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.5px;
    }
  }
}

.posts {
  list-style: none;
  display: grid;
  row-gap: 28px;
  @include breakpoint(md) {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 48px;
  }
  @include breakpoint(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 40px;
  }
  @include breakpoint(xxl) {
    row-gap: 53px;
  }
}
