@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 29px;
  justify-content: center;
  @include media-breakpoint-up(md) {
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & + div {
    width: fit-content;
    margin: 0 auto;
  }
}

.item {
  display: block;
  width: 100%;
  position: relative;
}

.load {
  width: 160px;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  line-height: 28px;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  outline: none;
  border-radius: 4px;
  margin: 36px auto;
  display: block;
  outline: none !important;
  &:hover {
    border: 2px solid #9b9b9b;
  }
  @include media-breakpoint-up(md) {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
  }
  @include media-breakpoint-up(xl) {
    display: block;
    width: 160px;
  }
}
