@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.container {
  margin: 0 auto;
  margin-bottom: 48px;
  @include media-breakpoint-up(md) {
    max-width: 680px;
  }
  @include media-breakpoint-up(xl) {
    max-width: $max-width-xl;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(xl) {
    align-items: start;
    justify-content: start;
  }
}

.listTitle {
  border-image: linear-gradient(
      to bottom,
      $color-blue-deep 35%,
      transparent 35%,
      transparent 65%,
      $color-blue-deep 65%
    )
    5 !important;

  p {
    color: $color-blue-deep;
  }
}

.list {
  margin-top: 32px;
  @include media-breakpoint-up(xl) {
    display: flex;
    gap: 38px;
    & > li {
      width: calc((100% - 38px * 2) / 3);
    }
  }
}
