@import '/styles/theme/z-index';

.sidebarWrapper {
  position: absolute;
  width: 0;
  transition: width 0.3s ease;
  height: calc(100dvh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  background: #000;
  z-index: $Z_INDEX-header;
  display: none;
  color: #fff;
  overflow-y: scroll;
}

.sidebarOpen {
  width: 100%;
  display: block;
}

.sponsorsBlock {
  background: #000;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsorsWrapper {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  overflow: hidden;
}

.categoriesBlock {
  background: #153047;
  display: flex;
  justify-content: center;
  padding: 20px 42px;
}

.categoriesWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.bottomBlock {
  background: #004ebc;
  padding: 20px 42px;
}

.li {
  max-width: 58px;
  height: fit-content;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
}

.active {
  position: relative;

  ::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: #ffcc01;
  }
}

.showsBlock {
  background: #000;
  padding: 12px 42px;
  display: flex;
  justify-content: space-between;
}

.showColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.showItem {
  color: #e3e3e3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.activeShow {
  color: #ffcc01;
}

.otherLi {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.5px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconsWrapper {
  display: flex;
  gap: 23px;
  margin-top: 20px;
}

.toggleButton {
  transform: rotate(0deg);
  transition-duration: 0.15s;
}

.activeToggleButton {
  transform: rotate(90deg);
  transition-duration: 0.15s;
}
