@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* 向上移動10px */
  }
}

.counter {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 2000;
  font-family: 'Noto Sans TC', sans-serif;

  &.unlock {
    animation: float 2s ease-in-out infinite;
  }

  img {
    position: relative;
  }

  &__number {
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 52.747px;
    font-weight: 700;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translate(-50%, 5px);

    &.unlock {
      color: #f15a24;
    }
  }

  &__unlocked {
    position: relative;
    border-radius: 16px;
    background: #f96756;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -8px;

    &:hover {
      cursor: pointer;
    }
  }
}
