@import "/styles/theme/breakpoints";
@import "/styles/theme/variable";
.wrapper {
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1080px;
    display: flex;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1080px;
  }
}

.story {
  min-height: calc(100dvh - 50px); // header height
  padding: 86px 16px 48px;
  flex: 1;

  @include media-breakpoint-up(md) {
    min-height: calc(100dvh - 152px); // header height
    max-width: 688px;
    padding: 28px 0 50px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1120px;
    display: flex;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1200px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;

  @include media-breakpoint-up(md) {
    max-width: 600px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1080px;
    display: flex;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1080px;
  }
}

.microAd {
  margin: 40px 0;
  @include media-breakpoint-up(mb) {
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    margin: 48px 0;
  }
}
