@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.toggleWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.toggle {
  width: 50%;
  padding: 6px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: $color-blue;
  border: solid 3px $color-blue;
  transition: 0.5s;
  &:hover {
    color: white;
    background-color: $color-blue;
  }
  &:focus {
    outline: none;
  }

  &.active {
    color: white;
    background-color: $color-blue;
  }

  & + & {
    border-left: 0;
  }
}
