@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.container {
  background-color: #e3e3e3;
  border-radius: 2px;
  display: flex;
  padding-right: 12px;
  padding-left: 17px;
  width: calc(100vw - 72px);

  @include media-breakpoint-up(md) {
    width: calc(100vw - 440px);
    padding-right: 14px;
    padding-left: 0px;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}

.titles {
  width: 100%;
  color: $color-blue-deep;
  font-size: 16px;

  font-weight: 500;
  letter-spacing: 0.5px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &.transitioning {
    transition: transform 0.3s ease-in-out;
  }
}

.news {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
