@import '/styles/theme/breakpoints';

.error {
  display: flex;
  justify-content: center;
  background-color: #003365;
  min-height: 100dvh;
  overflow: hidden;
  padding-top: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 0px;
  }

  .container {
    position: relative;
  }
  .error_info {
    color: #fff;
    margin: 40px 0 48px;
    @include media-breakpoint-up(md) {
      margin: 90px 0 48px;
    }
    &_heading {
      font-size: 70px;
      line-height: 1;
      margin-bottom: 20px;
      // tablet range
      @include media-breakpoint-up(md) {
        font-size: 150px;
        margin-bottom: 50px;
      }
    }

    &_link {
      display: inline-block;
      color: #ffcc01;
      font-size: 20px;
      letter-spacing: 3.3px;
      line-height: 23px;
      text-decoration: underline;
      // tablet range
      @include media-breakpoint-up(md) {
        padding: 0;
        font-weight: 400;
        font-size: 50px;
        line-height: 58px;
      }
    }
  }
  .article_container {
    padding: 0 16px;
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.5px;
      margin-bottom: 16px;
      color: #fff;
    }
    .article_list {
      min-width: calc(100vw - 32px);
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: center;
        min-width: 588px;
      }
      a {
        display: flex;
        margin-bottom: 16px;
        @include media-breakpoint-up(md) {
          display: block;
          width: 180px;
          margin: 0 24px 0 0;
          padding: 0;
          &:last-child {
            margin: 0;
          }
        }
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          object-position: center;
          background-color: #e7e7e7;
          margin-right: 16px;
          @include media-breakpoint-up(md) {
            margin: 0 0 12px 0;
            width: 100%;
            height: 120px;
          }
        }
        p {
          height: 44px; // 為了避免高度自適應，導致文字截斷破版
          text-align: left;
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include media-breakpoint-up(md) {
            height: auto;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }

  .container {
    text-align: center;
    // transform: translateY(-50%);
  }

  .error__wire_left,
  .error__wire_right {
    position: absolute;
    display: flex;
    width: 50vw;
    top: 86px;
    @include media-breakpoint-up(xl) {
      height: 86px;
    }

    // tablet range
    @include media-breakpoint-up(md) {
      top: 190px;
    }

    .error__wire_1 {
      width: 0%;
      height: 100%;
      border-bottom: 4px solid #979797;
      // desktop range
      @include media-breakpoint-up(xl) {
        width: auto;
        flex: 1;
      }
    }
    .error__wire_2 {
      width: 100%;
      height: 100%;
      border-top: 4px solid #979797;
      border-left: 4px solid #979797;
      // desktop range
      @include media-breakpoint-up(xl) {
        width: 197px;
      }
    }
  }

  .error__wire_left {
    left: calc(50vw - 100px);
    transform: translate(-100%, 0);
    @include media-breakpoint-up(sm) {
      left: 170px;
    }
    // tablet range
    @include media-breakpoint-up(md) {
      left: 60px;
    }
  }

  .error__wire_right {
    right: calc(50vw - 100px);
    transform: translate(100%, 0) scaleX(-1);
    @include media-breakpoint-up(sm) {
      right: 170px;
    }
    // tablet range
    @include media-breakpoint-up(md) {
      right: 60px;
    }
  }

  .error__icon {
    position: absolute;
    top: 0;
    height: 34px;
    width: 40px;
    // tablet range
    @include media-breakpoint-up(md) {
      height: 68px;
      width: 80px;
    }
    &.plug {
      right: 0;
      transform: translate(35%, -46%);
    }
    &.socket {
      right: 0;
      transform: translate(15%, -46%) rotate(180deg);
    }
  }
}
