@import '/styles/theme/breakpoints';

.main {
  background: #036;
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 48px;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
  }

  .container {
    width: 230px;

    // tablet range
    @include media-breakpoint-up(md) {
      width: 350px;
    }

    // desktop range
    @include media-breakpoint-up(xl) {
      width: 384px;
    }
  }
  .error_info {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    color: #fff;
    &_heading {
      align-self: flex-end;
      display: inline-block;
      font-size: 100px;
      letter-spacing: 3px;
      margin: 0;

      // tablet range
      @include media-breakpoint-up(md) {
        font-size: 160px;
        letter-spacing: 10px;
      }

      // desktop range
      @include media-breakpoint-up(xl) {
        font-size: 200px;
        letter-spacing: 8px;
      }
    }

    &_text {
      font-size: 14px;
      letter-spacing: 1px;

      // tablet range
      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      // desktop range
      @include media-breakpoint-up(xl) {
        font-size: 30px;
        letter-spacing: 2px;
      }
    }

    .drop_zero {
      display: inline-block;
      transform: rotate(29deg) translate(30%, 30%);
    }
  }
}
