@import '/styles/theme/breakpoints';

.main {
  background: #036;
  min-height: 100dvh;
  padding-top: 50px; /* the height of mobile nav*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 48px;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
  }

  .container {
    width: 230px;

    // tablet range
    @include media-breakpoint-up(md) {
      width: 350px;
    }

    // desktop range
    @include media-breakpoint-up(xl) {
      width: 384px;
    }
  }
  .error_info {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    color: #fff;
    &_heading {
      align-self: flex-end;
      display: inline-block;
      font-size: 100px;
      letter-spacing: 3px;
      margin: 0;

      // tablet range
      @include media-breakpoint-up(md) {
        font-size: 160px;
        letter-spacing: 10px;
      }

      // desktop range
      @include media-breakpoint-up(xl) {
        font-size: 200px;
        letter-spacing: 8px;
      }
    }

    &_text {
      font-size: 14px;
      letter-spacing: 1px;

      // tablet range
      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      // desktop range
      @include media-breakpoint-up(xl) {
        font-size: 30px;
        letter-spacing: 2px;
      }
    }

    .drop_zero {
      display: inline-block;
      transform: rotate(29deg) translate(30%, 30%);
    }
  }
}

// .error {
//   display: flex;
//   justify-content: center;
//   background-color: #003365;
//   min-height: 100vh;
//   overflow: hidden;

//   .container {
//     position: relative;
//   }

//     &_link {
//       display: inline-block;
//       color: #ffcc01;
//       font-size: 20px;
//       font-family: $font;
//       letter-spacing: 3.3px;
//       line-height: 23px;
//       text-decoration: underline;
//       // tablet range
//       @include media-breakpoint-up(md) {
//         padding: 0;
//         font-weight: 400;
//         font-size: 50px;
//         line-height: 58px;
//       }
//     }
//   }
//   .article_container {
//     padding: 0 16px;
//     h3 {
//       font-weight: 500;
//       font-size: 20px;
//       line-height: 28px;
//       letter-spacing: 0.5px;
//       margin-bottom: 16px;
//       color: #fff;
//     }
//     .article_list {
//       min-width: calc(100vw - 32px);
//       @include media-breakpoint-up(md) {
//         display: flex;
//         justify-content: center;
//         min-width: 588px;
//       }
//       a {
//         display: flex;
//         margin-bottom: 16px;
//         @include media-breakpoint-up(md) {
//           display: block;
//           width: 180px;
//           margin: 0 24px 0 0;
//           padding: 0;
//           &:last-child {
//             margin: 0;
//           }
//         }
//         img {
//           width: 80px;
//           height: 80px;
//           object-fit: cover;
//           object-position: center;
//           background-color: $color-grey;
//           margin-right: 16px;
//           @include media-breakpoint-up(md) {
//             margin: 0 0 12px 0;
//             width: 100%;
//             height: 120px;
//           }
//         }
//         p {
//           height: 44px; // 為了避免高度自適應，導致文字截斷破版
//           text-align: left;
//           font-size: 16px;
//           line-height: 22px;
//           color: #fff;
//           word-wrap: break-word;
//           -webkit-line-clamp: 2;
//           display: -webkit-box;
//           -webkit-box-orient: vertical;
//           overflow: hidden;
//           @include media-breakpoint-up(md) {
//             height: auto;
//             -webkit-line-clamp: 3;
//           }
//         }
//       }
//     }
//   }
// }
