@import '/styles/theme/breakpoints';

.image {
  display: block;
  width: 100%;
  aspect-ratio: 288 / 108;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    width: calc(50% - 8px);
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
