.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrapper {
    background: #fff;
    height: 64px;
    padding: 0 16px;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    height: 73px;
    padding: 0 44px;
  }
}

.logo {
  width: 192px;
  height: 36px;
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
  }
}

.sponsorsWrapper {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sponsorsWrapper {
    gap: 10px;
  }
}
