.header {
  background: lightgoldenrodyellow;
}

.pcHeaderWrapper {
  display: none;
}

.mobHeaderWrapper {
  display: block;
}

@media (min-width: 768px) {
  .pcHeaderWrapper {
    display: block;
  }

  .mobHeaderWrapper {
    display: none;
  }
}
