.itemWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.li {
  padding: 0 10px;
  position: relative;
}

.li::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
}

.li:hover::after {
  width: 100%;
  background-color: #ffcc01;
}

.li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: #979797;
}

.active::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 2px;
  width: 100%;
  background-color: #ffcc01;
}

.navWrapper {
  background-color: #153047;
  font-family: var(--font-noto-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.5px;
  height: 44px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 16px;
  }

  @media (min-width: 1200px) {
    padding: 0 44px;
    font-size: 16px;
  }
}

.visibleItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;

  max-width: 560px;
  height: 28px;

  @media (min-width: 1200px) {
    max-width: 960px;
  }
}

.restOfCategories {
  display: none;
  height: 44px;
  align-items: center;
  background-color: black;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 100;
  line-height: normal;

  @media (min-width: 768px) {
    padding: 0 16px;
  }

  @media (min-width: 1200px) {
    padding: 0 44px;
  }
}

.liRest {
  padding: 0 10px;
  position: relative;
}

.liRest::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: #a6a6a6;
}

.liRest::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
}

.liRest:hover::after {
  width: 100%;
  background-color: #ffcc01;
}

.activeRe::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 2px;
  width: 100%;
  background-color: #ffcc01;
}

.showRest {
  display: flex;
}

.grey {
  color: #979797;
  cursor: pointer;
  padding-right: 5px;
  -webkit-user-select: none;
  user-select: none;
}

.showLi {
  padding: 0 10px;
  position: relative;
}

.showLi::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: #a6a6a6;
}

.showBox {
  position: absolute;
  top: 34px;
  z-index: 1000; /* header */
  background-color: #004ebc;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #e3e3e3;
  border-top: 2px solid #ffcc01;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.showColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.showItem {
  width: 70px;
}

.showItem:hover {
  color: #ffcc01;
}
