@import '/styles/theme/breakpoints';

.wrapper {
  margin-bottom: 24px;
  @include media-breakpoint-up(md) {
    width: 100%;
    margin-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 60px;
  }
}

.container {
  // desktop  range
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 383px;
    max-height: 383px;
  }
  @include media-breakpoint-up(xxl) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 405px;
    max-height: 405px;
  }
}

.feature {
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  margin: 20px 0 0;
  height: calc((100% + 40px) * (9 / 16));
  // tablet range
  @include media-breakpoint-up(md) {
    left: 0;
    width: 100%;
    height: calc(318px * (9 / 16));
  }
  // desktop range
  @include media-breakpoint-up(xl) {
    flex: 1;
    margin-right: 24px;
    padding: 0;
    height: 0;
    padding-top: calc(672px * (9 / 16));
  }
  @include media-breakpoint-up(xxl) {
    flex: 1;
    margin-right: 24px;
    padding: 0;
    height: 0;
    padding-top: calc(720px * (9 / 16));
  }
}

.list {
  margin-top: 16px;
  width: calc(100% + 24px);
  padding: 8px 0;
  transform: translateX(-12px);
  border: 1px solid #d8d8d8;
  max-height: 456px;
  overflow: scroll;
  // tablet range
  @include media-breakpoint-up(md) {
    position: relative;
    flex: 1;
    transform: translateX(0);
    width: auto;
    margin: 16px 0 0;
    padding: 0;
    max-height: 300px;
  }
  // desktop range
  @include media-breakpoint-up(xl) {
    max-width: 424px;
    margin: 20px 0 0;
    max-height: 100%;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 456px;
    margin: 20px 0 0;
  }
}

.scroll {
  // desktop range
  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 405px;
    overflow-y: auto;
  }
}

.highlight {
  background-color: #e7e7e7;
}

.item {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  picture {
    min-width: 120px;
    max-width: 120px;
    height: 80px;
  }
  span {
    flex: 1;
    margin-left: 10px;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 1.29;
    text-align: justify;
  }
}
