.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
}

.input {
  width: 100%;
  height: 28px;
  border: 1px solid #c1c2c2;
  padding: 0 8px;
  border-radius: 7px;
  padding-left: 14px;
  color: #000;
}

.searchButton {
  display: block;
}
