@import '/styles/theme/breakpoints';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;

  @include media-breakpoint-up(md) {
    background: #fff;
    height: 64px;
    padding-left: 40px;
    padding-right: 112px;
    justify-content: space-between;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 104px;
    height: 73px;
    max-width: 1232px;
  }
}

.logo {
  width: 192px;
  height: 36px;
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.sponsorsWrapper {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    gap: 10px;
  }
}

.sponsorItem {
  display: block;
  position: relative;
  width: 100px;
  height: 52px;
  overflow: hidden;
  object-fit: contain;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
    max-height: 52px;
  }
}
