@import '/styles/theme/breakpoints';
@import '/styles/theme/z-index';
@import '/styles/theme/variable';

.itemWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.li {
  padding: 0 10px;
  position: relative;
}

.li::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
}

.li:hover::after {
  width: 100%;
  background-color: $color-yellow;
}

.li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: $color-grey-deep;
  @include media-breakpoint-up(md) {
    width: 2px;
  }
}

.active::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 2px;
  width: 100%;
  background-color: $color-yellow;
}

.navWrapper {
  background-color: #153047;
  font-family: var(--font-noto-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.5px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    padding: 0 $header-padding-md;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $header-max-width-xl;
    padding: 0;
    margin: 0 auto;
  }

  @include media-breakpoint-up(xxl) {
    width: $header-max-width-xxl;
  }
}

.visibleItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;

  max-width: 560px;
  height: 28px;

  @include media-breakpoint-up(xl) {
    max-width: 960px;
  }
}

.restOfCategories {
  display: none;
  height: 44px;
  align-items: center;
  background-color: black;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  @include media-breakpoint-up(md) {
    padding: 0 $header-padding-md;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 calc((100dvw - $header-max-width-xl) / 2);
  }

  @include media-breakpoint-up(xxl) {
    padding: 0 calc((100dvw - $header-max-width-xxl) / 2);
  }
}

.liRest {
  padding: 0 10px;
  position: relative;

  @include media-breakpoint-up(md) {
    color: #a6a6a6;
    margin: 0;
    padding: 0 14px;
    font-size: 14px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

.liRest::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: #a6a6a6;
  @include media-breakpoint-up(md) {
    width: 2px;
  }
}

.liRest::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
  transform: translate(7px, 0);
}

.liRest:hover::after {
  width: calc(100% - 14px);
  background-color: $color-yellow;
}

.activeRe::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 2px;
  width: 100%;
  background-color: $color-yellow;
}

.showRest {
  display: flex;
}

.grey {
  color: $color-grey-deep;
  cursor: pointer;
  padding-right: 5px;
  -webkit-user-select: none;
  user-select: none;
}

.showLi {
  padding: 0 10px;
  position: relative;
}

.showLi::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  height: 16px;
  width: 1px;
  background-color: #a6a6a6;
  @include media-breakpoint-up(md) {
    width: 2px;
  }
}

.showBox {
  position: absolute;
  top: 34px;
  z-index: 1000; /* header */
  background-color: #004ebc;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #e3e3e3;
  border-top: 2px solid $color-yellow;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.showColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.showItem {
  width: 80px;
}

.showItem:hover {
  color: $color-yellow;
}

.hidden {
  position: fixed;
  display: flex;
  opacity: 0;
  top: -100%;
  left: -100%;
}
