@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.otherItemsWrapper {
  background-color: #004ebc;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 4px 12px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.5px;

  @include media-breakpoint-up(md) {
    padding: 4px $header-padding-md 4px 12px;
  }
  @include media-breakpoint-up(xl) {
    $paddingLeft: calc((100vw - $header-max-width-xl) / 2);
    padding: 4px $paddingLeft 4px 20px;
  }
  @include media-breakpoint-up(xxl) {
    $paddingLeft: calc((100vw - $header-max-width-xxl) / 2);
    padding: 4px $paddingLeft 4px 20px;
  }

  * + * {
    margin-left: 12px;
    @include media-breakpoint-up(xl) {
      margin-left: 20px;
    }
  }
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;

  @include media-breakpoint-up(xl) {
    width: 20px;
  }

  img {
    &:hover {
      path {
        fill: $color-yellow;
      }
    }
  }
}

.li {
  &:hover {
    color: $color-yellow;
  }
}
