@import '/styles/theme/breakpoints';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;

  @include breakpoint(md) {
    background: #fff;
    height: 64px;
    padding: 0 16px;
    justify-content: space-between;
  }

  @include breakpoint(xl) {
    height: 73px;
    max-width: 1232px;
  }
}

.logo {
  width: 192px;
  height: 36px;
  display: none;

  @include breakpoint(md) {
    display: flex;
  }
}

.sponsorsWrapper {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  overflow: hidden;

  @include breakpoint(md) {
    gap: 10px;
  }
}
