@import '/styles/theme/breakpoints';

.pcHeaderWrapper {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.mobHeaderWrapper {
  display: block;

  @include breakpoint(md) {
    display: none;
  }
}
