@import '/styles/theme/breakpoints';

.otherItemsWrapper {
  background-color: #004ebc;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  width: 351px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.5px;

  @include media-breakpoint-up(xl) {
    padding: 4px 20px;
    width: 424px;
    margin-right: calc((100vw - 1232px) / 2);
  }
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
  width: 16px;

  @include media-breakpoint-up(xl) {
    width: 20px;
  }

  img {
    &:hover {
      path {
        fill: #ffcc01;
      }
    }
  }
}

.li {
  &:hover {
    color: #ffcc01;
  }
}
