@import '/styles/theme/z-index';

.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #153047;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: $Z_INDEX-coverHeader;
  box-shadow: 0px 1px 1px rgba(65, 65, 65, 0.2);
}

.logoMob {
  width: 163px;
  height: 30px;
}

.sideBtnWrapper {
  display: flex;
  gap: 20px;
}
