@import '/styles/theme/z-index';
@import '/styles/theme/variable';

.searchBarContainer {
  display: flex;
  *:focus {
    outline: none;
  }
  .searchBarSection {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 80px;
    width: 100vw;
    background-color: #000;

    .searchWrapper {
      display: flex;
      width: 100%;
      background-color: #fff;
      border-radius: 7px;

      .searchInputIcon {
        margin-left: 9px;
        margin-right: 10px;
      }

      .searchInput {
        height: 28px;
        width: 100%;
        padding: 0 8px;
        padding-left: 14px;
        border-radius: inherit;
        color: $color-grey-deep;
        &:focus {
          color: #000;
        }
      }

      .isSearchingInput {
        color: $color-blue;
      }
    }

    .modalOverlay {
      position: fixed;
      top: 130px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: $Z_INDEX-coverContent;
    }
  }
}

.logo {
  mask-size: 28px 26px;
  width: 28px;
  height: 26px;
  background-color: #ffffff;
  mask: url('/icons/icon-search.svg') 0 0/28px 26px;
  -webkit-mask: url('/icons/icon-search.svg') 0 0/28px 26px;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-right: 8px;
  button {
    width: 16px;
  }
  .resetIcon {
    object-fit: none;
  }
  .searchIcon {
    width: 32px;
    height: 20px;
    background-color: #2c585e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 8px;
    padding: 5px 6px;
  }
  .isSearchingIcon {
    background-color: $color-blue;
    color: #fff;
  }
}
