@import 'styles/theme/breakpoints';

.ombudsIntroContent {
  margin: 24px auto 32px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    color: #004dbc;
    line-height: 28px;
    margin-bottom: 12px;
    padding-left: 16px;
    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 0px;
    }
  }
  @include media-breakpoint-up(md) {
    width: 696px;
  }
  @include media-breakpoint-up(xl) {
    width: 1120px;
  }
}

.mainIntroWrapper {
  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: space-between;
    margin: 0 0 48px;
  }
}

.ombudsIntroWrapper {
  margin-bottom: 24px;
  @include media-breakpoint-up(md) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    width: 806px;
  }
}

.videoWrapper {
  margin-bottom: 24px;
  @include media-breakpoint-up(md) {
    margin-right: 24px;
    min-width: 384px;
    max-width: 384px;
    height: 216px;
  }
  @include media-breakpoint-up(xl) {
    min-width: 480px;
    max-width: 480px;
    height: 270px;
    margin-right: 32px;
  }
}

.introArticle {
  margin-top: 24px;
  padding: 0px 16px;
  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 8px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 0px;
    padding: 0px;
  }
}

.linkWrapper {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-left: calc(100% - 80px);
  ::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 3px;
    height: 1px;
    background-color: #000;
  }
  ::after {
    content: '';
    position: absolute;
    top: 30%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
  }
}

.reportIssue {
  background-color: #f4f5f6;
  padding: 16px 18px;
  margin: 0 16px;
  h3 {
    color: #036;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 16px;

    @include media-breakpoint-up(md) {
      line-height: 1.6;
      letter-spacing: 0.5px;
      text-align: left;
      margin-bottom: 4px;
    }

    @include media-breakpoint-up(xl) {
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    padding: 20px 40px;
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 16px 18px;
    width: 268px;
    margin: 0;
  }
}

.contentWrapper {
  @include media-breakpoint-up(md) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

.mainContent {
  p {
    font-size: 16px;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 16px;
  }
  @include media-breakpoint-up(md) {
    min-width: 420px;
    max-width: 420px;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

.reportLink {
  color: #004dbc;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 28px;
  border: 1px solid #004dbc;
  background-color: #fff;
  padding: 8px 0;
  margin: 0 0 20px;
  &:hover {
    padding: 7px 0;
    border: 2px solid #004dbc;
  }
  &:active {
    padding: 7px 0;
    border: 2px solid #004dbc;
    background-color: rgba(0, 77, 188, 0.05);
  }
  @include media-breakpoint-up(md) {
    width: 236px;
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
    margin: 0 0 20px;
  }
}

.contact {
  position: relative;
  p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: #004dbc;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      text-align: center;
    }
  }
  @include media-breakpoint-up(md) {
    padding-left: 12px;
    margin-left: 12px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 0;
    margin-left: 0;
  }
  &::before {
    @include media-breakpoint-up(md) {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: #a4a4a4;
    }
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.tel {
  @include media-breakpoint-up(md) {
    margin: 0 0 20px;
  }
}

.reportMail {
  color: #004dbc;
  display: flex;
  justify-content: center;
  &:hover {
    text-decoration: underline;
    color: #004dbc;
    text-underline-offset: 2px;
  }
}
