@import 'styles/theme/breakpoints';

.articleList {
  margin: 0 16px;
  h3 {
    color: #014db8;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
