@import 'styles/theme/breakpoints';

.ombudsIntroContent {
  margin: 24px auto;
  @include media-breakpoint-up(md) {
    width: 696px;
  }
  @include media-breakpoint-up(xl) {
    width: 1120px;
  }
}

.ombudsTitle {
  font-size: 20px;
  font-weight: 500;
  color: #004dbc;
  line-height: 28px;
  margin-bottom: 12px;
  padding-left: 16px;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 24px;
    padding: 0px;
  }
}

.ombudsIntroWrapper {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.videoWrapper {
  margin-bottom: 24px;
  @include media-breakpoint-up(md) {
    margin-right: 24px;
    min-width: 384px;
    max-width: 384px;
    height: 216px;
  }
}

.introArticle {
  margin-top: 24px;
  padding: 0px 16px;
  @include media-breakpoint-up(md) {
    margin-top: 0px;
    padding: 0px;
  }
}

.para {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 8px;
}

.linkWrapper {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-left: calc(100% - 80px);

  ::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: -3px;
    height: 1px;
    background-color: #000;
  }
  ::after {
    content: '';
    position: absolute;
    top: 30%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
  }
}
