@import '/styles/theme/breakpoints';

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include breakpoint(xl) {
    width: 100%;
  }

  &Top {
    display: flex;
    flex-direction: column;
    @include breakpoint(xl) {
      flex: 1 1 auto;
    }
  }

  &Image {
    display: block;
    width: 100%;
    padding-top: 66.66%;
    position: relative;
    @include breakpoint(xl) {
      min-width: 180px;
      min-height: 120px;
      overflow: hidden;
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 11px 0 0 0;
  @include breakpoint(xl) {
    flex: 1 1 auto;
  }

  &Title {
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include breakpoint(xl) {
      margin-top: 12px;
      -webkit-line-clamp: 3;
    }
  }

  &Date {
    font-size: 14px;
    color: #9b9b9b;
    margin: 11px 0 0 0;
  }
}

.videoIcon {
  background: #ffcc01;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  &::before {
    content: '';
    display: block;
    border-color: transparent transparent transparent white;
    border-width: 10px 0 10px 18px;
    transform: translate(calc(-50% + 2px), -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
