@import '/styles/theme/breakpoints';

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include breakpoint(xl) {
    width: 100%;
  }

  &Top {
    display: flex;
    flex-direction: column;
    @include breakpoint(xl) {
      flex: 1 1 auto;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 11px 0 0 0;
  @include breakpoint(xl) {
    flex: 1 1 auto;
  }

  &Title {
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include breakpoint(xl) {
      margin-top: 12px;
      -webkit-line-clamp: 3;
    }
  }

  &Description {
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
    word-wrap: break-word;
    margin: 10px 0 0 0;
  }

  &Date {
    font-size: 14px;
    color: #9b9b9b;
    margin: 11px 0 0 0;
  }
}
