@import '/styles/theme/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px;
  @include media-breakpoint-up(md) {
    padding: 24px 16px;
    margin: 48px 0 40px;
  }
  @include media-breakpoint-up(xl) {
    border: none;
    padding: 32px;
    margin: 0 24px 40px;
  }
}

.bordered {
  @include media-breakpoint-up(md) {
    border: 1px solid #979797;
    padding: 24px;
  }
}

.listTitle {
  width: max-content;
}

.list {
  margin: 16px 0 0 0;
  @include media-breakpoint-up(xl) {
    margin: 20px 0 0 0;
  }
}

.item {
  & + & {
    margin: 16px 0 0 0;
    @include media-breakpoint-up(xl) {
      margin: 20px 0 0 0;
    }
  }
}
