@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.customButton {
  padding: 8px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  line-height: 28px;
  color: $color-blue;
  border: 1px solid $color-blue;
  outline: none;
  display: block;
  width: 100%;
  margin: 14px auto 0;
  @include media-breakpoint-up(md) {
    margin: 0 auto;
    max-width: 300px;
  }
  &:focus {
    outline: none;
  }

  &:hover {
    padding: 7px 0;
    border: 2px solid $color-blue;
  }
  &:active {
    padding: 7px 0;
    border: 2px solid $color-blue;
    background-color: rgba(0, 77, 188, 0.05);
  }
}
