@import '/styles/theme/breakpoints';

.card {
  display: flex;
  align-items: flex-start;
  &__info-wrapper {
    margin: 0 0 0 20px;
    @include media-breakpoint-up(md) {
      margin: 0 0 0 10px;
    }
    @include media-breakpoint-up(xl) {
      margin: 0 0 0 20px;
    }
  }
}

.image {
  position: relative;
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.categoryImage {
  width: 130px;
  min-width: 130px;
  height: 130px;
  min-height: 130px;
  margin-right: 16px;
  @include media-breakpoint-up(md) {
    width: 120px;
    min-width: 120px;
    height: 80px;
    min-height: 80px;
  }
  @include media-breakpoint-up(xl) {
    width: 150px;
    min-width: 150px;
    height: 100px;
    min-height: 100px;
    margin-right: 20px;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 86px;
  @include media-breakpoint-up(md) {
    height: 95px;
  }
}

.title {
  font-size: 16px;
  color: #4a4a4a;
  text-align: left;
  line-break: wrap;
  line-height: 1.3;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  margin-top: 5px;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
