@import '/styles/theme/breakpoints';

.aside {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: 688px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    width: 384px;
    display: block;
    padding: 0;
    margin-top: 60px;
  }
}

.microAd {
  @include media-breakpoint-up(md) {
    margin: 48px 0;
  }
}

.latestList {
  @include media-breakpoint-up(md) {
    margin-top: 24px;
  }
}

.asideItem {
  @include media-breakpoint-up(md) {
    width: calc(50% - 8px);
  }
  @include media-breakpoint-up(xl) {
    width: inherit;
  }
}
