@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.container {
  padding: calc(20px + 8px) 16px 48px;
  overflow: hidden;
  max-width: 688px;
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    max-width: $max-width-xl;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 50px;
  }
  @include media-breakpoint-up(xxl) {
    max-width: $max-width-xxl;
    padding: 28px 0 50px;
  }
}

.title {
  color: $color-blue;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  @include media-breakpoint-up(md) {
    width: 100%;
    font-size: 30px;
    line-height: 42px;
  }
}

.banner {
  display: block;
  position: relative;
  width: calc(100% + 32px);
  padding-top: 37.5%;
  transform: translateX(-16px);
  margin-top: 16px;
  @include media-breakpoint-up(xl) {
    margin-top: 24px;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
    transform: none;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.show {
  flex: 1;
  margin: 24px 0 0;
  @include media-breakpoint-up(md) {
    margin: 40px 0 0;
  }
  @include media-breakpoint-up(xl) {
    margin: 48px 0 0;
  }
}

.infoWrapper {
  width: 100%;
  display: flex;
  margin: 0 0 50px;
  @include media-breakpoint-up(md) {
    display: flex;
    margin: 0 0 60px;
  }
}

.aside {
  width: 100%;
  margin: 16px auto 0;
  @include media-breakpoint-up(md) {
    min-width: 336px;
    max-width: 336px;
    padding: 0;
    margin: 0 0 0 12px;
  }
  @include media-breakpoint-up(xl) {
    min-width: 320px;
    max-width: 320px;
    margin: 0 0 0 auto;
  }
}

.iconWrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
  @include media-breakpoint-up(md) {
    justify-content: start;
  }
}

.introduction {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 24px 0;
  @include media-breakpoint-up(md) {
    width: 308px;
    margin: 0 0 48px;
  }
  @include media-breakpoint-up(xl) {
    width: 600px;
  }
}
