@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @elseif $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @elseif $point == lg {
    @media (min-width: 960px) {
      @content;
    }
  }
  @elseif $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @elseif $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}
