// _breakpoints.scss
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 960px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-breakpoint-up($point) {
  $min-width: map-get($breakpoints, $point);

  @if $min-width {
    @media (min-width: $min-width) {
      @content;
    }
  } @else {
    @warn "No breakpoint defined for `#{$point}`.";
  }
}

@mixin media-breakpoint-down($point) {
  $max-width: map-get($breakpoints, $point);

  @if $max-width {
    @media (max-width: $max-width) {
      @content;
    }
  } @else {
    @warn "No breakpoint defined for `#{$point}`.";
  }
}
