$max-width-md: 286px; // v2 改版後 footer 使用
$max-width-xl: 1120px;
$max-width-xxl: 1200px;
$aside-width-md: 284px;
$aside-width-xl: 384px;

$header-max-width-xl: 1000px;
$header-max-width-xxl: 1200px;
$header-padding-md: 40px;

$color-grey: #e7e7e7;
$color-grey-deep: #979797;
$color-blue: #014db8;
$color-blue-deep: #036;
$color-yellow: #ffcc01;
