@import "/styles/theme/breakpoints";
.heroImageWrapper {
  display: flex;
  flex: 1;

  // position: absolute;
  // left: 0;
  // right: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  @include media-breakpoint-up(xxl) {
    margin: unset;
    width: 100%;
  }
  figure {
    width: 100%;
    max-height: 168px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      max-height: 365px;
    }
  }
}
