// Apply custom styles to the Swiper component here.
// Since SCSS modules apply prefixes to classes, making it difficult to select elements,
// use SCSS directly for styling in this case.

@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:before {
  content: '';
  border: solid #f4f5f6df;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.swiper-button-next:before {
  content: '';
  border: solid #f4f5f6df;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);

  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
  border-color: #f4f5f6;
}

.swiper-pagination-bullet {
  background: $color-yellow !important;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background: $color-grey;
  width: 12px;
  height: 12px;
}
