@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.wrapper {
  body {
    margin: 0;
    padding: 0;
  }
}

.header {
  background-color: $color-blue-deep;
  padding: 12px;
  display: flex;
}
