@import '/styles/theme/breakpoints';

.pcWrapper {
  display: none;
  color: blue;

  @include breakpoint(md) {
    display: block;
  }
}

.mobWrapper {
  display: block;
  color: red;

  @include breakpoint(md) {
    display: none;
  }
}
